<head>
  <title>Clio + Calliope App Development</title>
  <meta name="description" content="Need help developing your app idea? Losing users due to speed? Clio + Calliope designs and builds clean, beautiful, easy-to-use, and fast web and mobile apps. We specialize in design sprints, web performance, design, UX, and app development. Let's create something together. Learn more about our women-led shop here.">

  <meta property="og:image" content="http://clioandcalliope.com/static/share_image@3x.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108863144-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108863144-1');
  </script>

  <!-- Fonts: Self-hosted -->
  <link rel="preload" as="font" type="font/woff2" href="/fonts/muli-v12-latin-700.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="/fonts/muli-v12-latin-regular.woff2" crossorigin>
  <link rel="stylesheet" href="/style.css">
</head>
