@import 'variables';

@mixin breakpoint($point) {
  @if $point == medium-screen {
    @media (max-width: 600px) { @content; }
  }
  @else if $point == small-screen {
    @media (max-width: 960px) { @content; }
  }
  // @else if $point == baby-bear {
  //   @media (max-width: 650px)  { @content; }
  // }
}

// Helpers
.uppercase {text-transform: uppercase;}
.right {text-align: right;}
.center {text-align: center;}
.vertical-space-sm {height: $sm;}
.vertical-space-xl {height: $xl;}
.inset-960 {max-width: 960px;}
.inset-1220 {max-width: 1220px;}


// Base styles for 1366px width, 1220px max container width
body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  color: $black;
  font-size: 137%;
  @include breakpoint(medium-screen) {
    font-size: 120%;
  }
  @include breakpoint(small-screen) {
    font-size: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
}

p {
  color: $grey;
  font-size: 1em;

  &.lead {
    color: $teal;
    font-size: 2em;
    @include breakpoint(small-screen) {
      font-size: 1.5em;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


// Components
@import 'components/nav';
@import 'components/header';
@import 'components/section';
@import 'components/button';
@import 'components/footer';
@import 'components/form';
