@import 'variables';

// TODO: Remove this mix-in once everything is switched to 'above'
@mixin breakpoint($point) {
  @if $point == medium-screen {
    @media (max-width: 960px) { @content; }
  }
  @else if $point == small-screen {
    @media (max-width: 600px) { @content; }
  }
}

@mixin above($point) {
  @if $point == small-screen {
    @media (min-width: 750px) { @content; }
  }
  @else if $point == medium-screen {
    @media (min-width: 960px) { @content; }
  }
  @else if $point == large-screen {
    @media (min-width: 1080px) { @content; }
  }
}

// Helpers
.uppercase {text-transform: uppercase;}
.right {text-align: right;}
.center {text-align: center;}
.vertical-space-sm {height: $sm;}
.vertical-space-md {height: $md;}
.vertical-space-lg {height: $lg;}
.vertical-space-xl {height: $xl;}
.inset-960 {max-width: 960px;}
.inset-1220 {max-width: 1220px;}


// Base styles for 1366px width, 1220px max container width
body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  color: $black;
  font-size: 100%;
  @include above(medium-screen) {
    font-size: 120%;
  }
  @include above(large-screen) {
    font-size: 137%;
  }

}

h1 {
  font-family: $font-accent;
  margin: $md 0;
}

p {
  color: $grey;
  font-size: 1em;
  font-weight: 300;

  &.lead {
    color: $teal;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
    margin: $md $sm;

    @include above(small-screen) {
      font-size: 1.8em;
      margin: 0 $lg $lg $lg;
    }

    @include above(medium-screen) {
      margin: 0 $xl $sm $xl;
    }

    @include above(large-screen) {
      margin: $lg $sm $sm $sm;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


// Components
@import 'components/nav';
@import 'components/header';
@import 'components/section';
@import 'components/button';
@import 'components/footer';
@import 'components/form';
@import 'components/bio';
