// Fonts
$font-primary: 'Muli', sans-serif;
$font-accent: 'Oswald', sans-serif;

// Colors
$white: #FFFFFF;
$light-grey: #BFCED1;
$grey: #374142;
$black: #01161A;
$mint: #9EBCC0;
$teal: #01333B;
$orange: #C83600;
$mustard: #D09E4B;
$yellow: #FDDF79;
$pond: #1473E5;

// Space
$default: 16px;
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 32px;
$xl: 64px;
$xxl: 128px;
$stack-default: 0 0 16px 0;
$stack-xs: 0 0 4px 0;
$stack-s: 0 0 8px 0;
$stack-m: 0 0 16px 0;
$stack-lg: 0 0 32px 0;
$stack-xl: 0 0 64px 0;
