// Fonts
$font-primary: 'Muli', sans-serif;
$font-accent: 'Oswald', sans-serif;

// Colors off palette
$white: #FFFFFF;
$grey: #374142;
$black: #01161A;
$peacock: #00A6BF; // 0, 166, 191
$aqua: #0AA8BE;

// Colors from palette
$cerulean-700: #024452;
$cerulean-800: #012c36;
$jade-500: #2bbbae;
$jade-600: #168A80;
$blue-grey-500: #9ebcc0;
$tomato-400: #C83600;
$honey-600: #bf8f00;

// Space
$default: 16px;
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 32px;
$xl: 64px;
$xxl: 128px;
$stack-default: 0 0 16px 0;
$stack-xs: 0 0 4px 0;
$stack-s: 0 0 8px 0;
$stack-m: 0 0 16px 0;
$stack-lg: 0 0 32px 0;
$stack-xl: 0 0 64px 0;
