@import 'base';

.service {
  align-items: center;
  display: flex;
  margin-bottom: $xl;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .service-description {
    padding: $lg $xxl $lg $lg;

    @media screen and (max-width: 600px) {
      font-size: 1.2em;
    }
    @media screen and (max-width: 750px) {
      padding: 0;
      max-width: 500px;
    }
    @media screen and (max-width: 1080px) {
      padding: $lg 0 $lg $lg;
    }

    h2 {
      margin: 16px 0;
    }
  }

  img {
    box-sizing: border-box;
    height: auto;
    padding: 0 $md 0 0;
    width: 50%;

    @media screen and (max-width: 750px) {
      height: auto;
      padding: 0;
      max-width: 500px;
      width: 100%;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
    @media screen and (max-width: 750px) {
      flex-direction: column;
    }

    .service-description {
      padding: $lg $lg $lg $xxl;
      @media screen and (max-width: 750px) {
        padding: 0;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.2em;
      }
      @media screen and (max-width: 1080px) {
        padding: $lg $lg $lg 0;
      }
    }

    img {
      padding: 0 0 0 $md;
      @media screen and (max-width: 750px) {
        padding: 0;
      }
    }
  }
}

.specialties-list {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;

  &:after {
    content: "";
    flex: auto;
  }

  li {
    box-sizing: border-box;
    margin-top: $sm;
    line-height: $lg;
    text-align: center;
    width: 50%;
    text-align: center;

    &:after {
      content: "";
      flex: auto;
    }

    @media screen and (min-width: 750px) {
      width: 33.33333%;
      font-size: 0.9em;
      text-align: center;
    }

    @media screen and (min-width: 1080px) {
      width: 25%;
      text-align: center;
    }
  }
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: $lg -16px $xl;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 42px;
    margin: $md;
    width: 140px;

    @media screen and (max-width: 600px) {
      width: 102px;
    }

    i.fa {
      font-size: 50px;
    }
  }
}


