@import 'base';

.service {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: $xl;

  @include above(small-screen) {
    flex-direction: row;
  }

  .service-description {
    padding: $lg $lg 0 $lg;
    font-size: 1.2em;
    max-width: 500px;

    @include above(small-screen) {
      padding: $lg 0 0 $lg;
    }

    @include above(medium-screen) {
      padding: $xl 0 0 $xl;
    }
    @include above(large-screen) {
      padding: $xl 0 0 $xxl;
    }

    h2 {
      margin: $md 0;
    }
  }

  img {
    height: auto;
    max-width: 500px;
    padding: $lg 0 0 0;
    width: 100%;

    @include above(small-screen) {
      box-sizing: border-box;
      height: auto;
      width: 50%;
    }
    @include above(medium-screen) {
    }
    @include above(large-screen) {
    }
  }

  &.reverse {
    flex-direction: column;

    @include above(small-screen) {
      flex-direction: row-reverse;
    }

    .service-description {
      @include above(small-screen) {
        flex-direction: row-reverse;
        padding: $lg $lg 0 0;
      }
      @include above(medium-screen) {
        padding: $xl $xl 0 0;
      }
      @include above(large-screen) {
        padding: $xl $xxl 0 0;
      }
    }
  }
}

.specialties-list {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;

  &:after {
    content: "";
    flex: auto;
  }

  li {
    box-sizing: border-box;
    margin-top: $sm;
    line-height: $lg;
    text-align: center;
    width: 50%;
    text-align: center;

    &:after {
      content: "";
      flex: auto;
    }

    @include above(small-screen) {
      width: 33.33333%;
      font-size: 0.9em;
      text-align: center;
    }

    @include above(large-screen) {
      width: 25%;
      text-align: center;
    }
  }
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: $lg -16px $xl;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 42px;
    margin: $md;
    width: 102px;

    @include above(small-screen) {
      width: 140px;
    }

    i.fa {
      font-size: 50px;
    }
  }
}


