.bio {
  display: flex;
  margin: $xl 0;
  justify-content: space-between;
  width: 100%;

  .bio-image {
    width: 35%;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .bio-description {
    width: 61%;
  }

  .bio-social {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: $md;
      font-size: 26px;
      a {
        color: $light-grey;
        text-decoration: none;
        &:hover {
          color: darken($light-grey, 10%);
        }
      }
    }
  }
}