.bio {
  display: block;
  margin: $lg 0;
  justify-content: space-between;
  width: 100%;
  @include above(small-screen) {
    display: flex;
  }

  h2 {
    color: $cerulean-700;
  }

  &.bio-reverse {
    flex-direction: row-reverse;
  }

  .bio-image {
    box-sizing: border-box;
    text-align: center;
    width: 100%;

    @include above(small-screen) {
      width: 35%;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      @include above(small-screen) {
        max-width: 100%;
      }
    }
  }

  .bio-description {
    width: 100%;

    @include above(small-screen) {
      width: 61%;
    }
    h2 {
      margin-top: 0;
    }
  }

  .bio-social {
    list-style: none;
    padding: 0;
    li {
      display: inline;
      margin-right: $md;
      font-size: 30px;
      a {
        color: $tomato-400;
        text-decoration: none;
        .icon {
          height: 30px;
          width: 30px;
        }
        .icon path {
          fill: $tomato-400;
        }
        &:hover {
          color: lighten($tomato-400, 2%);
          .icon path {
            fill: lighten($tomato-400, 2%);
          }
        }
      }
    }
  }
}
