form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 23px;
  max-width: 560px;
  text-align: left;
  width: 100%;

  label {
    color: $teal;
    padding: $lg 0 $sm;
  }

  input, textarea {
    border: 1px solid $mint;
    border-radius: 2px;
    padding: $md;
    font-size: 18px;
    color: darken($color: $mint, $amount: 20%)
  }

  input::placeholder {
    color: $mint;
  }

  textarea {
    line-height: 28px;
  }

  .center {
    width: 100%;
    .button {
      margin: $xl 0 $lg;
      max-width: 222px;
      width: 100%;
    }
  }
}