header {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  &.hero {
    background-color: $aqua; // fallback for old browsers
    background-image: url('../images/hero_bg_1.png');
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
    height: 60vh;
    min-height: 550px;

    .subtitle {
      font-family: 'Muli', sans-serif;
      font-size: 40px;
      padding: 0;
      margin: 0;
    }

    .lead {
      color: $white;
      font-size: 26px;
      font-weight: bold;
      margin: 0;
    }
  }
}
