header {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  &.hero {
    background-color: #0AA8BE; // fallback for old browsers
    background-image: url('../images/hero_bg_1.png');
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
    height: 40vh;
    min-height: 450px;

    @include above(small-screen) {
      min-height: 550px;
    }

    @include above(medium-screen) {
      height: 55vh;
    }

    @include above(large-screen) {
      height: 65vh;
      min-height: 650px;
    }

    .subtitle {
      font-family: 'Muli', sans-serif;
      font-size: 1.7em;
      padding: 0 $sm;
      margin: 0;
      max-width: 400px;

      @include above(small-screen) {
        font-size: calc(16px + 2vw);
        padding: 0 $xxl;
        max-width: 550px;
      }
      @include above(medium-screen) {
        max-width: 550px;
      }
      @include above(large-screen) {
        max-width: 720px;
      }
    }

    .lead {
      color: $white;
      font-size: 26px;
      font-weight: bold;
      margin: 0;

      @include above(small-screen) {
        font-size: calc(14px + 1vw);
      }
    }

    @include above(small-screen) {
      .title {
        font-size: calc(24px + 10vw);
      }
    }
  }
}
