.nav-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: 120px;
  text-align: center;

  // Have to use a pseudo class to get opacity to work on background image
  // for use in the transition of showing/hiding the navbar.
  &::after {
    content: "";
    background-color: $aqua; // fallback for old browsers
    background-image: url("../images/nav_bg.jpg");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 60%, 0% 100%);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .logo {
    width: calc(160px + 10vw);
    @include above(medium-screen) {
      width: auto;
    }
  }

  @include above(small-screen) {
    overflow: hidden;
  }
}

// Navbar sticks to top of page
.sticky {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

// Entire navbar is visible
.is-open {
  overflow: visible;
  transition: transform .2s ease-in-out .1s, opacity .2s ease-in-out .2s;
}

// Entire navbar is hidden
.is-closed {
  overflow: hidden;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform .2s ease-in-out .1s, opacity .2s ease-in-out .2s;
}

nav {
  align-items: center;
  display: flex;
  height: 96px;
  justify-content: space-between;
  max-width: 1220px;
  width: 100%;

  // All link colors including hamburger
  a {
    color: $white;
    font-size: 14px;
    padding: $default;
    text-decoration: none;
    @include above(small-screen) {
      font-size: 16px;
    }
    @include above(medium-screen) {
      font-size: 22px;
    }
  }
  a.active {color: lighten($blue-grey-500, 10%);}
  a:hover {
    color: lighten($honey-600, 10%);
    .icon path {
      fill: lighten($honey-600, 10%);
    }
  }
  a.hide{display: none;}
  // Make hamburger a little larger
  i.fa {font-size: 20px;}
}

.hero nav .nav-links {
  z-index: 201;
}

.open-icon {
  display: block; // Show hamburger icon
  position: absolute;
  top: 0;
  right: 0;
  @include above(small-screen) {
    display: none;
  }
}

.nav-links {
  box-sizing: border-box;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 200;

  &.hide-links {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  &.show-links {
    transition: transform .25s ease-in-out .1s, opacity .2s ease-in-out .2s;
    a.close-icon {display: block;} // Show close icon
  }

  a {
    background-color: rgba(0, 166, 191,0.9);
    border-bottom: 1px solid lighten($peacock, 8%);
    display: block;
    float: none;
    text-align: left;
    &.close-icon {
      display: none; // Hide close-icon
      position: absolute;
      top: 0;
      right: 0;
    }
    &:hover {
      background-color: lighten(rgba(0, 166, 191,0.9), 5%);
      color: $white;
    }
  }

  @include above(small-screen) {
    overflow-y: hidden;
    position: static;
    width: auto;
    &.hide-links {
      opacity: 1;
      transform: none;
    }
    &.show-links a.close-icon {display: none;} // hide close icon
    a {
      background-color: transparent;
      border-bottom: none;
      display: inline;
      &.close-icon {display: none;}
      &:hover {
        background-color: transparent;
        color: lighten($honey-600, 10%);
      }
    }
  }
}
