.nav-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 120px;
  text-align: center;

  // Have to use a pseudo class to get opacity to work on background image
  // for use in the transition of showing/hiding the navbar.
  &::after {
    content: "";
    background-color: $aqua; // fallback for old browsers
    background-image: url("../images/nav_bg.png");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 60%, 0% 100%);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  @include breakpoint(medium-screen) {
    .logo {width: calc(160px + 10vw);}
  }

  @media (max-width: 750px) {
    overflow: visible;
  }
}

// Navbar sticks to top of page
.sticky {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

// Entire navbar is visible
.is-open {
  overflow: visible;
  transition: transform .2s ease-in-out .1s, opacity .2s ease-in-out .2s;
}

// Entire navbar is hidden
.is-closed {
  overflow: hidden;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform .2s ease-in-out .1s, opacity .2s ease-in-out .2s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  width: 100%;
  height: 96px;

  // All link colors including hamburger
  a {
    color: $white;
    padding: $default;
    text-decoration: none;
    @include breakpoint(medium-screen) {
      font-size: 14px;
    }
  }
  a.active {color: lighten($light-grey, 10%);}
  a:hover {color: lighten($mustard, 10%);}
  a.hide{display: none;}
  // Make hamburger a little larger
  i.fa {font-size: 20px;}
}

// Hide until get small enough
.open-icon, .close-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 750px) {
  .hero nav .nav-links {
    z-index: 201;
  }
  .open-icon {display: block;} // Show hamburger
  .nav-links {
    box-sizing: border-box;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 200;
    a {
      background-color: rgba(0, 166, 191,0.9);
      float: none;
      font-size: 16px;
      display: block;
      text-align: left;
      border-bottom: 1px solid lighten($peacock, 8%);

      &:hover {
        background-color: lighten(rgba(0, 166, 191,0.9), 5%);
        color: $white;
      }
    }
  }
  .nav-links.hide-links {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  .nav-links.show-links {
    transition: transform .25s ease-in-out .1s, opacity .2s ease-in-out .2s;
    a.close-icon {display: block;} // Show close icon
  }
}
