section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $xl $lg;
  max-width: 100%;

  .section-title {
    color: $mint;
    font-size: 3.5em;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
  }

  h2 {
    color: $mustard;
    font-size: 1.8em;
    margin-bottom: $sm;
  }
  h3 {
    margin-top: 0;
    color: $mint;
  }
  @include breakpoint(small-screen) {
    padding: $lg $sm;
  }
}

section.gradient-fill {
  background-color: #0AA8BE; // fallback for old browsers
  background-image: linear-gradient(to right top, #0686ad 0%, #2bbbae 100%);
  clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
  width: 100vw;
  box-sizing: border-box;
  padding-top: $xxl;

  .inset-1220 {
    max-width: 1220px;
  }
}

section.light-text {
  color: $white;
  .section-title {
    color: rgba(255,255,255,0.65);
  }
  .lead {
    color: $white;
  }
}

section.map-background {
  background-color: #0AA8BE; // fallback for failed load
  background-image: url("../images/map.png");
  background-size: cover;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 100%, 0% 100%);
  margin-bottom: -50px;
  padding: $xxl 0;
  width: 100vw;

  .contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: $xl 0;

    a {
      color: $white;
      text-decoration: none;
      margin: $sm;

      .fa {
        margin-right: $md;
      }

      &:hover {
        color: darken($color: $white, $amount: 10%);
      }
    }
  }
}
