section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $lg $md;
  max-width: 100%;

  @include above(small-screen) {
    padding: $xl $lg;
  }

  .section-title {
    color: $cerulean-700;
    font-size: 3.5em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }

  h2 {
    color: $jade-600;
    font-size: 1.8em;
    margin-bottom: $sm;
  }
  h3 {
    margin-top: 0;
    color: $jade-500;
  }
}

section.gradient-fill {
  background-color: $aqua; // fallback for old browsers
  background-image: linear-gradient(to right top, #0686ad 0%, #2bbbae 100%);
  width: 100vw;
  box-sizing: border-box;
  padding-top: $xl;
  clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 92%, 50% 98%, 0% 92%);
  @include above(large-screen) {
    clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 91%, 50% 100%, 0% 91%);
  }
  .inset-1220 {
    max-width: 1220px;
  }
  .lead {
    margin: $lg 0;

    @include above(small-screen) {
      margin: $xl 0 $lg 0;
    }
    @include above(large-screen) {
      margin: $xxl 0 $xl 0;
    }

  }
}

section.light-text {
  color: $white;
  .section-title {
    color: rgba(255,255,255,0.95);
  }
  .lead {
    color: $white;
  }
}

section.map-background {
  background-color: $aqua; // fallback for failed load
  background-image: url("../images/map.jpg");
  background-size: cover;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 100%, 0% 100%);
  margin-bottom: -50px;
  padding: $xxl 0;
  width: 100vw;

  .contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: $xl 0;

    a {
      color: $white;
      text-decoration: none;
      margin: $sm;

      .fa {
        margin-right: $md;
      }

      &:hover {
        color: darken($color: $white, $amount: 10%);
      }
    }
  }
}
