body {
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  color: #01161A;
  font-size: 137%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

p {
  color: #374142;
  font-size: 1em; }
  p.lead {
    color: #01333B;
    font-size: 2em; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
  max-width: 100%; }
  section .section-title {
    color: #9EBCC0;
    font-size: 3.5em;
    font-weight: 500;
    opacity: 0.7;
    text-align: center; }
  section h2 {
    color: #D09E4B;
    font-size: 1.6em;
    text-transform: uppercase; }

.button {
  background-color: #C83600;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 16px 32px;
  text-decoration: none; }
  .button:hover {
    background-color: #952800; }

.uppercase {
  text-transform: uppercase; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.vertical-space-sm {
  height: 8px; }

.vertical-space-xl {
  height: 64px; }

.inset-960 {
  max-width: 960px; }

.inset-1220 {
  max-width: 1220px; }

section.gradient-fill {
  background-color: #0AA8BE;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #0aa8be), color-stop(100%, #2bbbae));
  background-image: -webkit-linear-gradient(left bottom, #0aa8be 0%, #2bbbae 100%);
  background-image: linear-gradient(to right top, #0686ad 0%, #2bbbae 100%);
  -webkit-clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
  clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
  color: #FFFFFF;
  width: 100vw;
  box-sizing: border-box; }
  section.gradient-fill .inset-1220 {
    max-width: 1220px; }
  section.gradient-fill .section-title {
    color: rgba(255, 255, 255, 0.65); }
  section.gradient-fill .lead {
    color: #FFFFFF; }

nav {
  display: flex;
  justify-content: flex-end;
  max-width: 1220px;
  width: 100%; }
  nav a {
    color: #FFFFFF;
    padding: 16px;
    text-decoration: none; }
    nav a:hover {
      color: #e6e6e6; }
  nav.stand-alone {
    background-image: url("../images/hero_bg_1.png");
    background-size: cover; }

header.hero {
  align-items: center;
  background-image: url("../images/hero_bg_1.png");
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
  display: flex;
  flex-direction: column;
  height: 95vh;
  min-height: 39vw;
  text-align: center; }
  header.hero .title {
    color: #FFFFFF;
    font-family: "Mr Dafoe", cursive;
    font-size: 150px;
    font-weight: normal;
    margin: 64px 0 0 0;
    padding: 0;
    text-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.18);
    transform: rotate(715deg); }
  header.hero .subtitle {
    font-family: 'Muli', sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0; }
  header.hero .lead {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    margin: 0; }

.service {
  margin-bottom: 128px; }
  .service .service-description {
    padding: 32px; }
  .service img {
    max-width: 100%; }

.specialties-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; }
  .specialties-list li {
    width: 240px; }

footer {
  background-color: #01333B;
  -webkit-clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);
  padding: 64px 32px 8px;
  align-items: center;
  display: flex;
  flex-direction: column; }
  footer div.inset-1220 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    footer div.inset-1220 .social-media p a {
      color: #BFCED1;
      font-size: 1.6em;
      text-decoration: none;
      margin-left: 4px; }
      footer div.inset-1220 .social-media p a:hover {
        color: #a1b7bc; }
    footer div.inset-1220 .copyright p {
      color: #BFCED1;
      font-weight: 300;
      font-size: 0.8em; }

@media screen and (max-width: 960px) {
  body {
    font-size: 120%; }

  header.hero .title {
    font-size: calc(24px + 10vw); }
  header.hero .subtitle {
    font-size: calc(16px + 2vw); }
  header.hero .lead {
    font-size: calc(14px + 1vw); } }
@media screen and (max-width: 600px) {
  body {
    font-size: 100%; }

  p.lead {
    font-size: 1.5em; } }

/*# sourceMappingURL=style.css.map */
