@import 'variables';

// Base styles for 1366px width, 960px max container width

body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  color: $black;
  font-size: 137%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
}

p {
  color: $grey;
  font-size: 1em;

  &.lead {
    color: $teal;
    font-size: 2em;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $xl $lg;
  max-width: 100%;

  .section-title {
    color: $mint;
    font-size: 3.5em;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
  }

  h2 {
    color: $mustard;
    font-size: 1.6em;
    text-transform: uppercase;
  }
}

.button {
  background-color: $orange;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 20px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 20px 3px rgba(0,0,0,0.1);
  box-shadow: 0 3px 20px 3px rgba(0,0,0,0.1);
  color: $white;
  font-family: $font-accent;
  font-size: 24px;
  font-weight: 500;
  padding: $md $lg;
  text-decoration: none;

  &:hover {
    background-color: darken($orange, 10%);
  }
}


// Helpers
.uppercase {text-transform: uppercase;}
.right {text-align: right;}
.center {text-align: center;}
.vertical-space-sm {height: $sm;}
.vertical-space-xl {height: $xl;}
.inset-960 {max-width: 960px;}
.inset-1220 {max-width: 1220px;}

section.gradient-fill {
  background-color: #0AA8BE; // fallback for old browsers
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #0aa8be), color-stop(100%, #2bbbae));
  background-image: -webkit-linear-gradient(left bottom, #0aa8be 0%, #2bbbae 100%);
  background-image: linear-gradient(to right top, #0686ad 0%, #2bbbae 100%);
  -webkit-clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
  clip-path: polygon(0% 0%, 50% 8%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
  color: $white;
  width: 100vw;
  box-sizing: border-box;
  padding-top: $xxl;

  .inset-1220 {
    max-width: 1220px;
  }

  .section-title {
    color: rgba(255,255,255,0.65);
  }
  .lead {
    color: $white;
  }
}


// Styles
nav {
  display: flex;
  justify-content: flex-end;
  max-width: 1220px;
  width: 100%;

  a {
    color: $white;
    padding: $default;
    text-decoration: none;

    // TODO: Pointer seems weirdly misaligned when trying to hover after first element
    &:hover {
      color: darken($white, 10%);
    }
  }

  &.stand-alone {
    background-image: url('../images/hero_bg_1.png');
    background-size: cover;
  }
}

header.hero {
  align-items: center;
  background-image: url('../images/hero_bg_1.png');
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
  display: flex;
  flex-direction: column;
  height: 60vh;
  min-height: 550px;
  text-align: center;
  // width: 100vw;

  .title {
    color: $white;
    font-family: $font-brand;
    font-size: 150px;
    font-weight: normal;
    margin: $xl 0 0 0;
    padding: 0;
    // TODO: shadow not working
    text-shadow: 0 2px 26px 0 rgba(0,0,0,0.18);
    transform: rotate(715deg);
  }

  .subtitle {
    font-family: 'Muli', sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0;
  }

  .lead {
    color: $white;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
  }
}

.service {
  align-items: center;
  display: flex;
  margin-bottom: $xxl;

  .service-description {
    padding: $lg $xxl $lg $lg;
    h2 {
      margin: 16px 0;
    }
  }

  img {
    box-sizing: border-box;
    height: auto;
    padding: 0 $md 0 0;
    width: 50%;
  }

  &.reverse {
    flex-direction: row-reverse;
    .service-description {
      padding: $lg $lg $lg $xxl;
    }
    img {
      padding: 0 0 0 $md;
    }
  }
}

.specialties-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  li {
    width: 240px;
    line-height: 42px;
  }
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: $lg -16px $xl;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 42px;
    margin: $md;
    width: 140px;
    i.fa {
      font-size: 50px;
    }
  }

}

footer {
  background-color: $teal;
  -webkit-clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);
  padding: $xl $lg $sm;
  align-items: center;
  display: flex;
  flex-direction: column;

  div.inset-1220 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .social-media p a {
      color: $light-grey;
      font-size: 1.6em;
      text-decoration: none;
      margin-left: $xs;

      &:hover {
        color: darken($color: $light-grey, $amount: 10%);
      }
    }

    .copyright p {
      color: $light-grey;
      font-weight: 300;
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: 1080px) {
  .service .service-description {
    padding: $lg 0 $lg $lg;
  }
  .service.reverse .service-description {
    padding: $lg $lg $lg 0;
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size: 120%;
  }

  header.hero {
    .title {
      font-size: calc(24px + 10vw);
    }
    .subtitle {
      font-size: calc(16px + 2vw);
    }
    .lead {
      font-size: calc(14px + 1vw);
    }
  }
}

@media screen and (max-width: 750px) {
  .service {
    flex-direction: column;
    align-items: center;
    display: flex;

    .service-description {
      padding: 0;
      max-width: 500px;
    }

    img {
      height: auto;
      padding: 0;
      max-width: 500px;
      width: 100%;
    }

    &.reverse {
      flex-direction: column;
      .service-description {
        padding: 0;
      }
      img {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 100%;
  }
  p.lead {
    font-size: 1.5em;
  }
  .technologies-list li {
    width: 102px;
  }
  .service .service-description, .service.reverse .service-description {
    font-size: 1.2em;
  }
  section {
    padding: $lg $sm;
  }
}