$font-primary: 'Muli', sans-serif;
$font-accent: 'Oswald', sans-serif;
$font-brand: 'Mr Dafoe', cursive;

$white: #FFFFFF;
$black: #01161A;
$teal: #01333B;
$orange: #C83600;

body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
}

.button {
  background-color: $orange;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 5px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 5px 6px rgba(0,0,0,0.1);
  box-shadow: 0 3px 5px 6px rgba(0,0,0,0.1);
  color: $white;
  font-family: $font-accent;
  font-size: 2.8vw;
  font-weight: 500;
  padding: 20px 50px;
  text-decoration: none;

  &:hover {
    background-color: darken($orange, 10%);
    // color: darken($white, 10%);
  }
}

.uppercase {
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: flex-end;

  a {
    color: $white;
    padding: 20px;
    text-decoration: none;

    // TODO: Pointer seems weirdly misaligned when trying to hover after first element
    &:hover {
      color: darken($white, 10%);
    }
  }
}

header.hero {
  background-image: url('../images/hero_bg_1.png');
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
  height: 95vh;
  min-height: 39vw;
  text-align: center;
  width: 100vw;

  // TODO: Need to make these font sizes bigger at smaller break points for all 3 classes below, and also adjust line-heights
  .title {
    color: $white;
    font-family: $font-brand;
    font-size: 12vw;
    font-weight: normal;
    line-height: 238px;
    margin: 0;
    padding: 0;
    // TODO: shadow not working
    text-shadow: 0 2px 26px 0 rgba(0,0,0,0.18);
    transform: rotate(715deg);
  }

  .subtitle {
    font-family: 'Muli', sans-serif;
    font-size: 3.6vw;
    line-height: 66px;
    margin: 0;
    padding: 0;
  }

  .lead {
    color: $white;
    font-size: 2.1vw;
    font-weight: bold;
    line-height: 39px;
  }
}

.lead-section {
  padding: 0 10vw 0 10vw;
  text-align: center;

  .lead {
    color: $teal;
    font-size: 3.4vw;
    line-height: 5.5vw;
    margin-bottom: 8vw;
  }
}